@import "tailwindcss";
@plugin "daisyui";
/* body{
    background-color: aliceblue;
} */

/* @keyframes pulse-slow {
  0%, 100% {
    box-shadow: 0 0 10px 2px rgba(34,197,94, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 6px rgba(34,197,94, 0.9);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
} */
